section {
    min-height: 80vh;
    display: flex;
/* Alineación en el eje principal: por defecto flex-start */
    justify-content: center;
/* alineación en el eje secundario: por defecto stretch */
    align-items: center;
}

.item-flex {
    background-color: rgb(124, 235, 243, 0.2);
    text-align: center;
    padding: 2rem;
}

