/* Vas asignando como eje de coordenadas por ejemplo a una sección, para que los elementos utilicen como referencia la section para poder desplacarse */
section {
    position: relative;
}

section p {
    padding: 1rem;
    background-color: rgb(95, 158, 160);
}

.relativo {
    position: relative;
    top: 3rem;
    left: 3rem;
    background-color: rgba(95, 158, 160, 0.5);
    opacity: 0.5;
}

.absoluto {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: rgba(95, 158, 160, 0.5);

}

