/* Selector de etiqueta (H1,H2,p...) y agrupados*/
h1, h2 {
    color: blue;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1,5rem;
}

p {
    color: blueviolet
}

/* Selectores de id 
    Buena practica: NO SE USAN
*/

/* en la hoja de estilos, con la # indicamos el id (forman parte del selector) */
#p_01 {
    color: crimson
}

/* Selectores de class siempre hay que usar las class. SI USAMOS LOS ID, TENDRÁN PREFERENCIA SOBRE LAS CLASS, POR ESO NUNCA USAREMOS LOS ID*/

.resaltado {
    color: chartreuse
}

/* Selectores de atributo */

[name="nombre"] {
    background-color: bisque
}

[required] {
    border-color: black
}